<ion-content>
<img class="logo" src="assets/images/starbuck_logo.png" alt="">


<h3 class="title">Bienvenue sur votre <br>application Starbucks !</h3>


<ion-searchbar placeholder="12 rue avenue Léonard de Vinci"></ion-searchbar>

<p class="infos">2 Starbucks à proximité</p>

<ion-card (click)="goToHome()">
  <ion-card-content>
    <img src="https://www.pagesjaunes.fr/media/ugc/starbucks_coffee_09202600_170017335" alt="">
    <div class="card_text_container">32 Avenue Léonard De Vinci 150 mètres</div>
  </ion-card-content>
</ion-card>

<ion-card (click)="goToHome()">
  <ion-card-content>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/14/cd/5e/3d/starbucks.jpg" alt="">
    <div class="card_text_container">Place Du Dome Centre Commercial les 4 Temps, 92800 Puteaux, 1km</div>
  </ion-card-content>
</ion-card>
</ion-content>