img{
  min-width: 128px;
  height: 128px;
  margin:-5em 0 0 7.5em;
}

.info{
  width: 300px;
  height: 70px;
  border:#707070 .5px solid ;
  margin:1.5em 0 0 2.25em;
  border-radius: 10px;
}

.info2{
  width: 300px;
  height: 90px;
  border:#707070 .5px solid ;
  margin: 1.5em 0 0 2.25em;
  border-radius: 10px;
}

p{
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

h3{
  font-size: 21px;
  color:#006341;
  margin: -22px 0;
  text-align: center;
}
