<div class="mt--">
  <div class="btnpaye">
    <ion-button>
      <img src="../../../assets/images/visa.png" alt="visa">
    </ion-button>
    <h3>Visa</h3>
  </div>
  <div class="btnpaye">
    <ion-button>
      <img src="../../../assets/images/mastercard.png" alt="visa">
    </ion-button>
    <h3>Master Card</h3>
  </div>
  <div class="btnpaye">
    <ion-button>
      <img src="../../../assets/images/apple-pay_main.png" alt="visa">
    </ion-button>
    <h3>Apple Pay</h3>
  </div>
  <div class="btnpaye">
    <ion-button>
      <img src="../../../assets/images/paypal.png" alt="visa">
    </ion-button>
    <h3>Paypal</h3>
  </div>
  <div class="btnpaye">
    <ion-button>
      <img src="../../../assets/images/Edenred_Logo.png" alt="visa">
    </ion-button>
    <h3>Ticket Restaurant</h3>
  </div>
</div>
