<ion-content style="display: flex; flex-direction: column;justify-content: center;">
    <div style="height: 50vh;display: flex; flex-direction: column; justify-content: space-evenly; margin: auto; text-align: center;">
        <img style="width: 50%; margin: auto"
             src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png"
             alt="Logo Starbucks">
        <p style="color: white; font-weight: 900; line-height: 40px">Merci pour votre commande! <br>
            A bientôt chez Starbucks :)</p>
    </div>
</ion-content>
