<app-toolbar></app-toolbar>
<ion-content style="overflow: hidden;">
    <div>
        <ion-slides style="margin: 5px 0; height: 8vh" [options]="slideOpts">
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
            <ion-slide class="ion-padding slide" style=" background-image: url('../../../assets/products/café.jpg');">
                <h3>Café</h3>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-segment style="height:30%; background:#006341; display: flex; text-align: center; align-items: center">
        <ion-title style="font-weight: bold; font-size: 45px; color: white">Zone d'offres</ion-title>
    </ion-segment>

        <div>
            <h2 class="titleCategory">Du moment</h2>
            <ion-slides style="margin: 5px 0; height: 8vh" [options]="slideOpts">
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
            </ion-slides>
        </div>

        <div>
            <h2 class="titleCategory">Favoris</h2>
            <ion-slides style="margin: 5px 0; height: 8vh" [options]="slideOpts">
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
            </ion-slides>
        </div>
        <div>
            <h2 class="titleCategory">Les plus populaires</h2>
            <ion-slides style="margin: 5px 0; height: 8vh" [options]="slideOpts">
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
                <ion-slide class="ion-padding slide"
                           style=" background-image: url('../../../assets/products/café.jpg');">
                    <h3>Café</h3>
                </ion-slide>
            </ion-slides>
        </div>

</ion-content>


<app-tabs></app-tabs>
