<div class="test">
  <h3>Refresha</h3>
  <div class="encadrefav">
    <img src="../../../assets/images/mure-hibiscus-refresha.-3-35.png" alt="trduyfug">
    <div>
      <h4>Mûre Hibiscus</h4>
      <p>
        A base de mûres entières et d'un sirop de mûres
      </p>
      <p>
        200Kcal
      </p>
      <p class="vert">
        4€ - 6€
      </p>
    </div>
  </div>
  <hr>
  <h3>Teavana</h3>
  <div class="encadrefav">
    <img src="../../../assets/images/teavana-rouge.png" alt="trduyfug">
    <div>
      <h4>Hibiscus</h4>
      <p>
        Thé frappé avec des perles de <br>Grenade
      </p>
      <p>
        200Kcal
      </p>
      <p class="vert">
        4€ - 6€
      </p>
    </div>
  </div>
</div>
